body {
    margin: 40px;
    background-color: #f0f0f0;
    user-select: none;
    line-height: 2;
    font-size: 15px;
}

h2, h1, h3, h4 {
    font-family: 'Comfortaa', 'Fredoka', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.Career, .Experience, .Qualifications, .Skills, .Objective, header {
    color: #333;
    margin: 60px auto;
    max-width: 1000px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f5f5f5;
    border-radius: 60px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

header {
    padding: 30px;
    border-radius: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header img[alt=selfie] {
    width: 200px;
    margin-right: 30px;
    margin-left: 5px;
    border-radius: 50%;
    float: left;
}

.Qualifications {
    display: flex;
}

.bold {
    font-weight: 500;
}

.role {
    font-size: 13px;
    font-weight: 400;
}

.job {
    margin: 20px auto;
}

.company {
    font-size: 28px;
    font-weight: 600;
    margin-top: 20px;
}

.title {
    color: rgb(0, 132, 255);
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 30px;
}

.col-12.bg-primary.rounded-pill {
    font-family: 'Fredoka', sans-serif;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .table {
        font-size: 14px;
        display: block;
    }

    .bold-span {
        font-weight: 500;
    }

    header h1 {
        font-size: 18px;
    }

    .Experience, .Wrapper, .Skills, .Objective, header {
    overflow: auto;
    }

    body {
        zoom: 60%;
        font-weight: 200;
    }

    .Qualifications {
        flex-direction: column;
    }

    .links {
        font-size: 10px;
    }
}
